
@import url("main.css"); /* Using a url */
nav {

  position: fixed;
  width: 100%;
  max-width: 1200px;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  border-bottom: 2px ridge var(--selected-color);  
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-color);
  z-index: 100;
}


main {
  margin-top: 50px; /* Add margin-top equal to navbar height */
  width: 100%;
  max-width: 1200px;  
  
  height: calc(100vh - 50px); /* Calculate main section height (viewport height - navbar height) */
  flex-direction: column; /* Set content as a single column */
  justify-content: center;
  align-items: center;
}

.logo {
  display: block;
}

.logo img {
  height: 50px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: var(--txt-color);
  margin: 5px 0;  
}

.nav_links {
  display: flex;
  justify-content: flex-end;
}

.nav_links a {
  color:  var(--txt-color);
  margin-left: 20px;
  border-radius: 10px;
  padding: 5px;
}

.nav_links a:hover {
  color: var(--selected-color);
  background-color: var(--bg-color);  
}

@media (max-width: 768px) {
  .nav_links {
    display: none;
  }

  .hamburger {
    display: block;
  }

  nav {
    padding:0 10px;
  }

  .nav_links.open {
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    background-color: var(--bg-color);
    border-radius: 5px 0 0 5px;    
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  .nav_links.open a {
    margin: 5px 0;
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}