@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root{
  
    --shadow-color: #85888C;
    --selected-color: #C97124;
    --txt-color: #ccc;
    --bg-color: #222;    
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
font-family: "Poppins", sans-serif;
color:var(--txt-color);
background-color: var(--bg-color);
height: 100%;
width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* Header */
.header{
    background-color: var( --bg-color);
    box-shadow: 1px 1px 5px 0px var(--shadow-color);
    position: sticky;
    top: 0;
    width: 100%;
}
/* Logo */
.logo img{
    display: inline-block;
    height: 60px ;    
}
/* Nav menu */
.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var( --bg-color);
    overflow: hidden;   
}
.menu img {
    border:10px solid transparent;
	cursor: pointer;
	height: 45px;
    margin-top: 10px;
}
.menu li {
    display:inline-flex;
}
.menu .subnav {
    display:block
}
.menu a,.menu p{
    display: inline-block;
    padding: 20px;
    color: var(--txt-color);    
}
.menu a:hover{
    color: var(--selected-color)
}
.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}
/* Sub nav */
.subnav-content {
    background-color:  var(--txt-color);
    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;   
}
.subnav-content a {
    color: var( --bg-color);
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    display: block;
}
.subnav:hover .subnav-content {
    display: block;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}
.hamb-line {
    background: var(--txt-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}
.hamb-line::before,
.hamb-line::after{
    background: var(--txt-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}
.side-menu {
    display: none;
}
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsive */
@media (min-width: 768px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;

    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;        
        color: var(--selected-color)
        
    }
    
    .hamb{
        display: none;
    }

        /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  var( --bg-color);
    }
    .subnav-content a {
        color: white;
    }
}
/*Best movie section*/
.bm-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 10px 30px 10px;    
}
.bm-details {
    width: calc(100% - 210px);
    padding: 0 20px;
}
.movie-details-col {
    width: 50%;
    padding-right: 20px;
    float: left;
}
.movie-details-col li a {
    color: var(--selected-color);
    cursor:pointer   
}
.bm-poster {
    width: 200px;
    height: 320px;
    order: -1;
}
.bm-poster img{
    background-size: cover;
    border-radius: 5px;
}
.bm-poster .myButton{
    cursor: pointer;    
    width: 100%;    
    display: flex; 
    background-color:var(--selected-color);    
    color:var(--bg-color);    
    border-radius: 5px;    
    padding: 5px;    
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 5px 0px var(--shadow-color);    
}
.category h2 {
    position: absolute;
    top:-15px;
    color:var(--selected-color);
}
/*sliders */
.slide-container {
    position: relative;
    display: flex;
    transition: transform 0.8s ease-in-out;      
    padding:10px 10px 10px 10px ;
    position: relative;
    border-radius: 20px; 
}
.slide {
    overflow: hidden;
    display: flex;
}
.slide img {
    flex-shrink: 0;
    padding: 5px 5px 5px 5px;
    width: 150px; 
    height: 200px;
    border-radius: 10px;
}
.slide-nav img{
   position: absolute;
   cursor: pointer;
   top: 50%;
   width: 35px;
   opacity: 0.4;
   transform: translateY(-50%);
   border-radius: 50%;
}
#nav-right {
    left: 0px;
    transform: rotate(-90deg); 
}
#nav-left {
    right: 0px;
    transform: rotate(90deg);
} 
.slide-nav img:hover{
    opacity: 1;
}