

section {
  background-color: var(--bg-color);
  height: 300px;
  border: 2px ridge var(--selected-color); 
  max-width: 1200px;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 2rem;

}  
section:first-of-type {
  margin-top: 6rem;
}
section h1 {
  margin-top: -2rem;
  font-size: 1.5rem;
}

.main-container{
  display: flex;
  overflow: hidden;  
}
.container-left {
  padding: 1rem;
  flex-direction: column;    
}
.container-right {
  padding: 1rem;
  margin-left: 5px;  
  color:var(--txt-color);    
}

img:not(.logo img)  { 
  height:250px;
  object-fit: contain;
  border-bottom: 2px ridge var(--selected-color);    
  border-right: 2px ridge var(--selected-color);      
  border-radius: 5px 0; 
}
.buttons {  
  display: flex;
  align-items: center;
  
}
.button{  
  border:none;
  background-color:var(--bg-seleted-color) ;  
  color: var(--txt-color);
  width: 50%;
  height:25px;
  margin:2px
}

.buttons > .button:only-child {
  width: 100%;
}

button:hover {
  color: var(--selected-color);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;  
  width: 600px;
  overflow: auto;  
  border: 3px solid var(--txt-color);
  background-color: var(--bg-color);
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  
}

.close {  
  color: var(--txt-color);
  float: right;
  font-size: 2.5rem;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: var(--txt-color);
  cursor: pointer;
}

